{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('homepage') }}" class="btn btn-sm btn-default pull-right">Retour à la liste</a>
        <h3>Modification de l'article : #{{ article.id }}</h3>
        {{ form(form, {attr: {novalidate: 'novalidate'}}) }}
        {% for message in app.session.flashBag.get('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}    
{% endblock %}
