{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('homepage') }}" class="btn btn-sm btn-default pull-right">Retour à la liste</a>
        <h1>Creation d'un article</h1>

        {% for message in app.session.flashBag.get('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {{ form(form, {attr: {novalidate: 'novalidate'}}) }}
{% endblock %}
